<div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add Funds</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Funds History</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane custom-tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                     {% if site['validation_error'] > 0 %}
                        {% for error in site['errors'] %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{error}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                     {% if site['error']  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{site['error']}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                     {% if site['success']  %}
                           <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong>Success!</strong> {{site['success']}}.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                     {% endif %} 
                        <form action="{{site['user_payment_route']}}" method="post">
                           {{ site['csrf_field'] | raw }}
                            <div class="form-group">
                              <label for="">Select a Payment Method</label>
                              <select class="form-control" name="payment_method" id="payment_method">
                               	{% for pm in site['user_payment_methods'] %}
                                 <option value='{{pm["payment_id"]}}'> {{ pm['method_name'] }}</option>
								         {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="">Amount</label>
                              <input type="text" name="amount" id="amount" class="form-control" placeholder="" aria-describedby="helpId">
                            </div>
                           <button type="submit" class="btn btn-success">Make Payment</button>
                        </form>
                    </div>
                    <div class="tab-pane custom-tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Method</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tnx in site['transactions'] %}
                                    <tr>
                                       <td>{{ tnx['id'] }}</td>
                                       <td>{{ tnx['created_at'] }}</td>
                                       <td> PayPal </td>
                                       <td> {{ tnx['amount'] }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane custom-tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane custom-tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane custom-tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  </div>
            </div>
        </div>
    </div>