<div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add Funds</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Funds History</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane custom-tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                     {% if site['validation_error'] > 0 %}
                        {% for error in site['errors'] %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{error}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                     {% if site['error']  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{site['error']}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                     {% if site['success']  %}
                           <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong>Success!</strong> {{site['success']}}.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                     {% endif %} 
                        <form action="{{site['user_payment_route']}}" method="post">
                           {{ site['csrf_field'] | raw }}
                            <div class="form-group">
                              <label for="">Select a Payment Method</label>
                              <select class="form-control" name="payment_method" id="payment_method">
                               	{% for pm in site['user_payment_methods'] %}
                                 <option value='{{pm["payment_id"]}}'> {{ pm['method_name'] }}</option>
								         {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="">Amount</label>
                              <input type="text" name="amount" id="amount" class="form-control" placeholder="" aria-describedby="helpId">
                            </div>
                           <button type="submit" class="btn btn-success">Make Payment</button>
                        </form>

                          <div class="row mt-5">
                              <div class="col">
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="true">
                                          <i class="fab fa-paypal"></i> PayPal
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="credit-card-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-card" aria-selected="false">
                                        <i class="far fa-credit-card"></i> Credit Card
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="web-money-tab" data-toggle="tab" href="#web-money" role="tab" aria-controls="web-money" aria-selected="false">
                                        <i class="far fa-money-bill-alt"></i> Web Money
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="skrill-tab" data-toggle="tab" href="#skrill" role="tab" aria-controls="skrill" aria-selected="false">
                                        <i class="far fa-money-bill-alt"></i> Skrill
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="neteler-tab" data-toggle="tab" href="#neteler" role="tab" aria-controls="neteler" aria-selected="false">
                                        <i class="fas fa-dollar-sign"></i> Neteller
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="bitcoin-tab" data-toggle="tab" href="#bitcoin" role="tab" aria-controls="bitcoin" aria-selected="false">
                                        <i class="fab fa-bitcoin"></i> Bitcoin
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="perfect-money-tab" data-toggle="tab" href="#perfect-money" role="tab" aria-controls="perfect-money" aria-selected="false">
                                        <i class="far fa-money-bill-alt"></i> Perfect Money
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="payoneer-tab" data-toggle="tab" href="#payoneer" role="tab" aria-controls="payoneer" aria-selected="false">
                                        <i class="far fa-credit-card"></i>  Payoneer
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="western-union-tab" data-toggle="tab" href="#western-union" role="tab" aria-controls="western-union" aria-selected="false">
                                        <i class="fas fa-paper-plane"></i> Western Union
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">
                                        <i class="fas fa-credit-card"></i> Others
                                        </a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane custom-tab-pane fade show active" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                                          1- We accept PayPal - Minimum $10
                                          Our PayPal Email Is:  Open a ticket or contact on Live Support For PayPal ID
                                          Open a new ticket with your Paypal E-mail, Transaction ID and amount sent.

                                          No Bonus on Paypal Payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="credit-card" role="tabpanel" aria-labelledby="credit-card-tab">.
                                        Credit or Debit Card payment auto enabled for all users!
                                            10$ Minimum Payment. Note: Only Bank Issued Card!
                                            No Bonus on Card payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="web-money" role="tabpanel" aria-labelledby="web-money-tab">
                                        WebMoney payment auto enabled for everyone!
                                          1$ Minimum Payment!
                                          5% Bonus on WebMoney Payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="Skrill" role="tabpanel" aria-labelledby="Skrill-tab">
                                            Our Skrill Email Is:  go2toppanel@gmail.com
                                            Open a new ticket with your Skrill E-mail, Transaction ID and amount sent.
                                            1$ Minimum Payment!
                                            5% Bonus on Skrill payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="neteler" role="tabpanel" aria-labelledby="neteler-tab">
                                        Our Neteller Email Is:  go2toppanel@gmail.com
                                          Open a new ticket with your Neteller E-mail, Transaction ID and amount sent.
                                          1$ Minimum Payment!
                                          5% Bonus on Neteller payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="bitcoin" role="tabpanel" aria-labelledby="bitcoin-tab">
                                        Bitcoin payment auto enabled in the dropdown above for everyone!
                                          1$ Minimum Payment!
                                          5% Bonus on Bitcoin Payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="perfect-money" role="tabpanel" aria-labelledby="perfect-money-tab">
                                        Perfect Money payment auto enabled in the dropdown above for everyone!
                                        1$ Minimum Payment!
                                        5% Bonus on Perfect Money Payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="payoneer" role="tabpanel" aria-labelledby="payoneer-tab">
                                        Our Payoneer Email Is:  mamun044@gmail.com
                                        Open a new ticket with your Payoneer E-mail, Transaction ID and amount sent.
                                        50$ Minimum Payment!
                                        5% Bonus on Payoneer payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="western-union" role="tabpanel" aria-labelledby="western-union-tab">
                                        Our Western Union Details are:  Please open a ticket to get our WU Details.
                                        Open a new ticket after sending with the transaction number, your name, country and amount.
                                        200$ Minimum Payment!
                                        5% Bonus on Western Union payments!
                                      </div>
                                      <div class="tab-pane custom-tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
                                      Please open a ticket for other Payment Methods!
                                      </div>
                                    </div>
                              </div>
                          </div>
                    </div>
                    <div class="tab-pane custom-tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table">
                            <thead>
                                <tr style="background-color: #eee">
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Method</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tnx in site['transactions'] %}
                                    <tr>
                                       <td>{{ tnx['id'] }}</td>
                                       <td>{{ tnx['created_at'] }}</td>
                                       <td> PayPal </td>
                                       <td> {{ tnx['amount'] }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>