<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            {% if affiliates %}
                <div class="well well-float">
                    {{ affiliates }}
                </div>
            {% endif %}

            <div class="well well-float">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Referral link</th>
                        <th>Commission rate</th>
                        <th>Minimum payout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ site['ref_link'] }}</td>
                        <td>{{ site['commission_rate'] }}%</td>
                        <td>${{ site['minimum_payout'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="well well-float">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Total visits</th>
                        <th>Unpaid referrals</th>
                        <th>Paid referrals</th>
                        <th>Conversion rate</th>
                        <th>Total earnings</th>
                        <th>Unpaid earnings</th>
                        {% if site['affiliates']['request_payout'] %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ site['affiliates']['total_visits'] }}</td>
                        <td>{{ site['affiliates']['unpaid_referrals'] }}</td>
                        <td>{{ site['affiliates']['paid_referrals'] }}</td>
                        <td>{{ site['affiliates']['conversion_rate'] }}</td>
                        <td>{{ site['affiliates']['total_earnings'] }}</td>
                        <td>{{ site['affiliates']['unpaid_earnings'] }}</td>
                        {% if site['affiliates']['request_payout'] %}
                            <td>
                                <a href="{{ site['url'] }}" class="btn btn-xs btn-default">Request payout</a>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>

            {%  if site['affiliates']['payouts']|length %}
                <div class="well well-float">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Payout date</th>
                            <th>Payout amount</th>
                            <th>Payout status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payout in site['affiliates']['payouts'] %}
                            <tr>
                                <td>{{ payout['date'] }}</td>
                                <td>{{ payout['amount'] }}</td>
                                <td>{{ payout['status'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 d-flex justify-content-center">
                    {{ site['affiliates']['payouts'].links|raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>