<div class="inner-page-common api-common">
    <section id="" class="m-0 mb-5">
        <div class="row d-flex justify-content-center api-panel m-0">
            <div class="col-lg-7">
                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn top-title" type="button" data-toggle="collapse" data-target="#apiDoc" aria-expanded="true" aria-controls="collapseOne">
                            API Docs <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="apiDoc" class="collapse show" style="">
                        <table class="table table-bordered border-none">
                            <tbody>
                            <tr>
                                <td class="width-40">HTTP Method</td>
                                <td>POST</td>
                            </tr>
                            <tr>
                                <td>API URL</td>
                                <td>{{site['url']}}/api/v2</td>
                            </tr>
                            <tr>
                                <td>API Key</td>
                                <td>{{site['api_key']}}</td>
                            </tr>
                            <tr>
                                <td>Response format</td>
                                <td>JSON</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn title" type="button" data-toggle="collapse" data-target="#service_services" aria-expanded="true">
                            Service list <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="service_services" class="card-body collapse show" style="">
                        <table class="table table-bordered">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>services</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="sub-title">Example response</div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <button class="float-right link" data-toggle="tooltip" data-placement="bottom" title="" onclick="CopyToClipboard('copyServiceListCode_services')" data-original-title="Copy code">
                                    <i class="fa fa-copy"></i> Copy
                                </button>
                                <pre id="json">
                                    <code id="copyServiceListCode_services" class="language-json jsonData">

                                        {{ site['serviceApi'] | json_encode }}
                                        {#<span class="float-left">[</span>
                                    {% for api in site['serviceApi'] %}
                                        <span class="float-left">{</span>
                                            <span class="float-left">"service":</span> <span class="float-left"> 1,</span>
                                            <span class="float-left">"name":</span> <span class="float-left"> "Followers",</span>
                                            <span class="float-left">"type":</span> <span class="float-left"> "Default",</span>
                                            <span class="float-left">"category":</span> <span class="float-left"> "First Category",</span>
                                            <span class="float-left">"rate":</span> <span class="float-left"> "0.90",</span>
                                            <span class="float-left">"min":</span> <span class="float-left"> "50",</span>
                                            <span class="float-left">"max":</span> <span class="float-left"> "10000"</span>
                                        <span class="float-left">}</span>,
                                    {% endfor %}
                                    <span class="float-left">]</span>#}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn title" type="button" data-toggle="collapse" data-target="#service_add" aria-expanded="true">
                            Add order <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="service_add" class="card-body collapse show" style="">
                        <form class="has-validation-callback">
                            <div class="form-group">
                                <select class="form-control input-sm" id="service_type">
                                    <option value="0">Default</option>
                                    <option value="10">Package</option>
                                    <option value="1">SEO</option>
                                    <option value="2">Custom Comments</option>
                                    <option value="3">Mentions with Hashtags</option>
                                    <option value="4">Mentions Custom List</option>
                                    <option value="6">Mentions Hashtag</option>
                                    <option value="7">Mentions User Followers</option>
                                    <option value="14">Custom Comments Package</option>
                                    <option value="15">Comment Likes</option>
                                    <option value="17">Poll</option>
                                    <option value="20">Invites from Groups</option>
                                    <option value="100">Subscriptions</option>
                                </select>
                            </div>
                        </form>
                        <table class="table table-sm api-data" id="api_0" style="display:;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>runs (optional)</td>
                                <td>Runs to deliver</td>
                            </tr>
                            <tr>
                                <td>interval (optional)</td>
                                <td>Interval in minutes</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_10" style="display: table;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_2" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>keywords</td>
                                <td>Keywords list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_3" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>comments</td>
                                <td>Comments list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_4" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>usernames</td>
                                <td>Usernames list separated by \r\n or \n</td>
                            </tr>
                            <tr>
                                <td>hashtags</td>
                                <td>Hashtags list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_100" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>usernames</td>
                                <td>Usernames list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>hashtag</td>
                                <td>Hashtag to scrape usernames from</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>username</td>
                                <td>URL to scrape followers from</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>username</td>
                                <td>Username</td>
                            </tr>
                            <tr>
                                <td>min</td>
                                <td>Quantity min</td>
                            </tr>
                            <tr>
                                <td>max</td>
                                <td>Quantity max</td>
                            </tr>
                            <tr>
                                <td>posts</td>
                                <td>New posts count</td>
                            </tr>
                            <tr>
                                <td>delay</td>
                                <td>Delay in minutes. Possible values: 0, 5, 10, 15, 30, 60, 90</td>
                            </tr>
                            <tr>
                                <td>expiry (optional)</td>
                                <td>Expiry date. Format d/m/Y</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>comments</td>
                                <td>Comments list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>username</td>
                                <td>Username of the comment owner</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>answer_number</td>
                                <td>Answer number of the poll</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-sm api-data" id="api_15" style="display: none;">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="border border-top-0">
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>add</td>
                            </tr>
                            <tr>
                                <td>service</td>
                                <td>Service ID</td>
                            </tr>
                            <tr>
                                <td>link</td>
                                <td>Link to page</td>
                            </tr>
                            <tr>
                                <td>quantity</td>
                                <td>Needed quantity</td>
                            </tr>
                            <tr>
                                <td>groups</td>
                                <td>Groups list separated by \r\n or \n</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="sub-title">Example response</div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <button class="float-right link" data-toggle="tooltip" data-placement="bottom" title="" onclick="CopyToClipboard('copyServiceListCode_add')" data-original-title="Copy code">
                                    <i class="fa fa-copy"></i> Copy
                                </button>
                                <pre>
                                    <code id="copyServiceListCode_add" class="language-json jsonData">
                                        {
                                        <span class="token property">"order":</span> <span class="number">23501</span>
                                        }
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn title" type="button" data-toggle="collapse" data-target="#service_status" aria-expanded="true">
                            Order status <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="service_status" class="card-body collapse show">
                        <table class="table table-sm">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>status</td>
                            </tr>
                            <tr>
                                <td>order</td>
                                <td>Order ID</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="sub-title">Example response</div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <button class="float-right link" data-toggle="tooltip" data-placement="bottom" title="" onclick="CopyToClipboard('copyServiceListCode_status')" data-original-title="Copy code">
                                    <i class="fa fa-copy"></i> Copy
                                </button>
                                <pre>
                                    <code id="copyServiceListCode_status" class="language-json jsonData">
                                        {{ site['orderResponse'] | json_encode }}
                                        {#{
                                           <span class="token property">"charge":</span> <span class="token operator"> "0.27819"</span>,
                                           <span class="token property">"start_count":</span> <span class="token operator"> "3572"</span>,
                                           <span class="token property">"status":</span> <span class="token operator"> "Partial"</span>,
                                           <span class="token property">"remains":</span> <span class="token operator"> "157"</span>,
                                           <span class="token property">"currency":</span> <span class="token operator"> "USD"</span>
                                        }#}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn title" type="button" data-toggle="collapse" data-target="#service_multi_status" aria-expanded="true">
                            Multiple orders status <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="service_multi_status" class="card-body collapse show">
                        <table class="table table-sm">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>status</td>
                            </tr>
                            <tr>
                                <td>orders</td>
                                <td>Order IDs separated by comma</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="sub-title">Example response</div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <button class="float-right link" data-toggle="tooltip" data-placement="bottom" title="" onclick="CopyToClipboard('copyServiceListCode_multi_status')" data-original-title="Copy code">
                                    <i class="fa fa-copy"></i> Copy
                                </button>
                                <pre>
                                    <code id="copyServiceListCode_multi_status" class="language-json jsonData">
                                        {{ site['multiOrderResponse'] | json_encode }}

                                        {#{
                                            <span class="token property">"1":</span> {
                                           <span class="token property">"charge":</span> <span class="token operator"> "0.27819"</span>,
                                           <span class="token property">"start_count":</span> <span class="token operator"> "3572"</span>,
                                           <span class="token property">"status":</span> <span class="token operator"> "Partial"</span>,
                                           <span class="token property">"remains":</span> <span class="token operator"> "157"</span>,
                                           <span class="token property">"currency":</span> <span class="token operator"> "USD"</span>

                                            },
                                        <span class="token property">"10":</span> {
                                        <span class="token property">"error":</span> <span class="token operator"> "Incorrect order ID"</span>
                                        },
                                        <span class="token property">"100":</span> {
                                       <span class="token property">"charge":</span> <span class="token operator"> "1.44219"</span>,
                                       <span class="token property">"start_count":</span> <span class="token operator"> "234"</span>,
                                       <span class="token property">"status":</span> <span class="token operator"> "In progress"</span>,
                                       <span class="token property">"remains":</span> <span class="token operator"> "10"</span>,
                                       <span class="token property">"currency":</span> <span class="token operator"> "USD"</span>
                                        }
                                    }#}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header">
                        <button class="btn title" type="button" data-toggle="collapse" data-target="#service_balance" aria-expanded="true">
                            User balance <i class="arrow fa fa-angle-up"></i> <i class="arrow fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="service_balance" class="card-body collapse show">
                        <table class="table table-sm">
                            <thead class="bg-green border border-success">
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>key</td>
                                <td>Your API key</td>
                            </tr>
                            <tr>
                                <td>action</td>
                                <td>balance</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="sub-title">Example response</div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <button class="float-right link" data-toggle="tooltip" data-placement="bottom" title="" onclick="CopyToClipboard('copyServiceListCode_balance')" data-original-title="Copy code">
                                    <i class="fa fa-copy"></i> Copy
                                </button>
                                <pre>
                                    <code id="copyServiceListCode_balance" class="language-json jsonData">
                                        {{ site['userBalance'] | json_encode }}
                                       {#{
                                       <span class="token property">"balance":</span> <span class="token operator">"100.84292"</span>,
                                       <span class="token property">"currency":</span> <span class="token operator">"USD"</span>
                                       }#}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
