<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <button class="btn btn-info mb-3" data-toggle="modal" data-target="#exampleModalLong">Add Panel</button>
            <div class="well well-float">
                {% if error %}
                    <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ errorMessage }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ successMessage }}
                    </div>
                {% endif %}
                {% if renew %}
                    <div class="alert alert-danger" role="alert">
                        <div class="pull-right">
                            <a href="{{ renewUrl }}" class="btn btn-xs btn-default">Renew</a>
                        </div>
                        {{ renewMessage }}
                    </div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Expiry</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for panel in panelsList %}
                        <tr>
                            <td>{{ panel['domain'] }}</td>
                            <td>{{ panel['status'] }}</td>
                            <td nowrap>{{ panel['created'] }}</td>
                            <td nowrap>{{ panel['expiry'] }}</td>
                            <td nowrap>
                                {% if panel['admin'] %}
                                    <a href="{{ panel['admin_url'] }}" class="btn btn-xs btn-default"
                                       target="_blank">Admin</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Panel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">

                        <div class="first">
                            <div class="form-group">
                                <label for="domain" class="control-label">Domain</label>
                                <input type="text" class="form-control" id="domain" name="domain" value="">
                            </div>
                            <div class="alert alert-info">
                                <ol style="padding: 10px;">
                                    <li>Login to your domain provider's portal.</li>
                                    <li>Go to 'DNS Management' section of the domain where you want to run this panel.</li>
                                    <li>
                                        Search for 'A' record where the host is 'YOURDOMAIN' or '@'<br>
                                        <ol type="a" style="padding: 10px;">
                                            <li>If the record found, change the 'IP address' to '165.22.209.67' and 'TTL' value to 30 (or Allowed minimum value).</li>
                                            <li>If the record not found, add new 'A' record with host=YOURDOMAIN or host=@, IP=165.22.209.67 and TTL=30 (or Allowed minimum value)</li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="createorderform-currency">Currency</label>
                            <select id="createorderform-currency" class="form-control" name="CreateOrderForm[currency]" aria-required="true">
                                <option value="USD">United States Dollars (USD)</option>
                                <option value="RUB">Russian Rubles (RUB)</option>
                                <option value="THB">Thai Baht (THB)</option>
                                <option value="TRY">Turkish Lira (TRY)</option>
                                <option value="EUR">Euro (EUR)</option>
                                <option value="IDR">Indonesian Rupiah (IDR)</option>
                                <option value="BRL">Brazilian Real (BRL)</option>
                                <option value="CNY">Chinese Yuan (CNY)</option>
                                <option value="KRW">South Korean Won (KRW)</option>
                                <option value="INR">Indian Rupee (INR)</option>
                                <option value="IRR">Iranian Rial (IRR)</option>
                                <option value="SAR">Saudi Arabia Riyal (SAR)</option>
                                <option value="PLN">Polish złoty (PLN)</option>
                                <option value="MYR">Malaysian Ringgit (MYR)</option>
                                <option value="GBP">Pound sterling (GBP)</option>
                                <option value="KWD">Kuwaiti dinar (KWD)</option>
                                <option value="SEK">Swedish krona (SEK)</option>
                                <option value="ILS">Israeli shekel (ILS)</option>
                                <option value="HKD">Hong Kong dollar (HKD)</option>
                                <option value="NGN">Nigerian naira (NGN)</option>
                                <option value="KES">Kenyan shilling (KES)</option>
                                <option value="JPY">Japanese Yen (JPY)</option>
                                <option value="ARS">Argentine peso (ARS)</option>
                                <option value="VND">Vietnamese đồng (VND)</option>
                                <option value="CAD">Canadian dollar (CAD)</option>
                                <option value="IQD">Iraqi dinar (IQD)</option>
                                <option value="TWD">New Taiwan Dollars (TWD)</option>
                                <option value="AZN">Azerbaijani manat (AZN)</option>
                                <option value="BYN">Belarusian ruble (BYN)</option>
                                <option value="KZT">Kazakhstani tenge (KZT)</option>
                                <option value="UAH">Ukrainian hryvnia (UAH)</option>
                                <option value="RON">Romanian leu (RON)</option>
                                <option value="AED">United Arab Emirates dirham (AED)</option>
                                <option value="COP">Colombian peso (COP)</option>
                                <option value="PKR">Pakistan Rupee (PKR)</option>
                                <option value="EGP">Egyptian Pound (EGP)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="createorderform-username">Admin username</label>
                            <input type="text" id="createorderform-username" class="form-control" name="username" aria-required="true" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="createorderform-password">Admin password</label>
                            <input type="password" id="createorderform-password" class="form-control" name="password" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="createorderform-password_confirm">Confirm password</label>
                            <input type="password" id="createorderform-password_confirm" class="form-control" name="password_confirm" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label for="price" class="control-label">Price per month</label>
                            <input type="text" class="form-control" id="price" value="$25.00" readonly="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save Panel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
