<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <nav class="nav">
                <a class="nav-link {% if site['status'] =='all' %} filter-active  {% endif %}" href="{{ site['url'] }}">All</a>
                <a class="nav-link  {% if site['status'] =='active' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=active">Active</a>
                <a class="nav-link {% if site['status'] =='Completed' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Completed">Completed</a>
                <a class="nav-link {% if site['status'] =='Canceled' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Canceled">Canceled</a>
            </nav>

            <div class="card">
                <div class="card card-body">
                    <table class="table {% if site['rtl'] %} rtl-table {% endif %}">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Link</th>
                            <th>Total charges</th>
                            <th>Quantity</th>
                            <th>Service</th>
                            <th>Runs</th>
                            <th>Interval</th>
                            <th>Total quantity</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for dripFeed in site['dripFeedOrderList'] %}
                            <tr>
                                <td>{{ dripFeed['id'] }}</td>
                                <td>{{ dripFeed['created_at'] }}</td>
                                <td class="link">{{ dripFeed['orders_link'] }}</td>
                                <td nowrap="">{{ dripFeed['total_charges'] }}</td>
                                <td>{{ dripFeed['service_quantity'] }}</td>
                                <td>{{ dripFeed['service_name'] }}</td>
                                <td class="nowrap">
                                {{ dripFeed['runOrders'] }} /  {{ dripFeed['total_quantity'] }} 
                                </td>
                                <td>{{ dripFeed['interval'] }}</td>
                                <td>{{ dripFeed['total_quantity'] }}</td>
                                <td>{{ dripFeed['status'] }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="col-md-12 d-flex justify-content-center">
                        {{ site['dripFeedOrderList'].links|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
