<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page['meta_title'] }}</title>
    <meta name="keywords" content="{{ page['meta_title'] }}">
    <meta name="description" content="{{ page['meta_description'] }}">
    {% if site['favicon'] %}
        <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
    {% endif %}
    <script>
        /* global instances */
        window.CSRF_TOKEN = "{{site['csrf_token']}}";
        window.base_url = "{{site['site_url']}}";
        /* end of global instances */
    </script>
    {% for style in site['styles'] %}
        <link rel="stylesheet" type="text/css" href="{{ style }}">
    {% endfor %}
</head>
<body>
<div class="wrapper">
    {% if site['horizontal_menu'] == 'No' %}
        <nav class="navbar-light bg-light shadow-sm" id="sidebar">
            <div class="sidebar-header">
                <a class="navbar-brand" href="{{ site['site_url'] }}">
                    {% if site['logo'] %}
                        <img style="width: 100px;" src="{{ site['logo'] }}">
                    {% else %}
                        Your Logo
                    {% endif %}
                </a>
            </div>
            <ul class="list-unstyled components">
                {% if site['auth'] %}
                    {% for menu in menus %}
                        <li{% if menu['page']['active'] %} class="nav-item active" {% else %}  class="nav-item" {% endif %}>
                            <a class="nav-link" href="{{ menu['page']['url'] }}">
                                {{ menu['menu_name'] }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for menu in menus %}
                        <li{% if menu['page']['active'] %} class="nav-item active" {% else %}  class="nav-item" {% endif %}>
                            <a class="nav-link" href="{{ menu['page']['url'] }}">
                                {{ menu['menu_name'] }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            {% if site['horizontal_menu'] == 'Yes' %}
                <a class="navbar-brand" href="{{ site['site_url'] }}">
                    {% if site['logo'] %}
                        <img style="width: 100px;" src="{{ site['logo'] }}">
                    {% else %}
                        Your Logo
                    {% endif %}
                </a>
            {% endif %}

            {% if site['horizontal_menu'] == 'No' %}
                <button id="sidebarCollapse" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}

            {% if site['horizontal_menu'] == 'No' %}
                <a class="nav-link hLogout" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                    Logout
                </a>
            {% else %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if site['horizontal_menu'] == 'Yes' %}
                    <ul class="navbar-nav">
                        {% if site['auth'] %}
                            {% for menu in menus %}
                                <li{% if menu['page']['active'] %} class="nav-item active" {% else %}  class="nav-item" {% endif %}>
                                    <a class="nav-link" href="{{ menu['page']['url'] }}">
                                        {{ menu['menu_name'] }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for menu in menus %}
                                <li{% if menu['page']['active'] %} class="nav-item active" {% else %}  class="nav-item" {% endif %}>
                                    <a class="nav-link" href="{{ menu['page']['url'] }}">
                                        {{ menu['menu_name'] }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endif %}

                {% if site['auth'] %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="pricestyle">${{ site['auth'].balance }}</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                            Logout
                        </a>
                        <form id="logout-form" action="{{ site['logout_url']  }}" method="POST" class="d-none">
                            {{ site['csrf_field'] | raw }}
                        </form>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>

        {{ content }}

    </div>
</div>

<footer class="border-top">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{{ site['base_url'] }}"> {{ site['panel_name'] }}</a>
    </div>
</footer>

<div id="fbmsg">
    <div class="fbmsg-badge">
        <div class="messanger">
            <img style="cursor:pointer; width: 80px; z-index: 9999" src="{{ site['notifigIcon'] }}" alt="messanger">
        </div>
    </div>
    <div class="wp-sheet" style="display:none">
        <div class="wp-sheet-head">
            <div class="wp-sheet-head-inner">Go2Top</div>
            <a href="#" class="wp-sheet-head-close">×</a>
        </div>
        <div class="wp-sheet-body"></div>
        <div class="wp-sheet-content">
            <div class="wp-sheet-content-inner">
                <div class="wp-sheet-content-part">
                    <div class="fb-page">
                        <iframe style="width: 100%; height: calc(100vh - 54px); border: 1px solid #fff;" src="http://goldtop.live/gotoapi/"></iframe>
                    </div>
                </div>

            </div>
        </div>
        <div class="wp-sheet-footer"></div>
    </div>
</div>

{% for script in site['scripts'] %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "http://goldtop.live/gotoapi/";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
