<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <nav class="nav">
                <a class="nav-link {% if site['status'] =='all' %} filter-active  {% endif %}" href="{{ site['url'] }}">All</a>
                <a class="nav-link  {% if site['status'] =='pending' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=pending">Pending</a>
                <a class="nav-link {% if site['status'] =='Inprogress' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Inprogress">Inprogress</a>
                <a class="nav-link {% if site['status'] =='Completed' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Completed">Completed</a>
                <a class="nav-link {% if site['status'] =='Partial' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Partial">Partial</a>
                <a class="nav-link {% if site['status'] =='Processing' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Processing">Processing</a>
                <a class="nav-link {% if site['status'] =='Canceled' %} filter-active  {% endif %}" href="{{ site['url'] }}?status=Canceled">Canceled</a>
            </nav>
        </div>

        <div class="col-sm-2 text-right search">
            <form action="{{ page['url'] }}" method="get" id="history-search">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search" value="{{ search }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <div class="card card-body">
              {% if site['error']  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{site['error']}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if site['success']  %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> {{site['success']}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th class="width-40">Link</th>
                                <th>Charge</th>
                                <th class="nowrap">Startcount</th>
                                <th>Quantity</th>
                                <th>Service</th>
                                <th>Status</th>
                                <th>Remains</th>
                                {% if order['refill_status'] == 'allow' %}<th>&nbsp;</th>{% endif %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for order in site['orders'] %}
                            <tr>
                                <td>{{ order['id'] }}</td>
                                <td>{{ order['created_at'] }}</td>
                                <td class="width-40">{{ order['link'] }}</td>
                                <td>{{ order['charges'] }}</td>
                                <td class="nowrap">{{ order['start_counter'] }}</td>
                                <td>{{ order['quantity'] }}</td>
                                <td>{{ order['service_name'] }}</td>
                                <td>{{ order['status'] }}</td>
                                <td>{{ order['remains'] }}</td>
                                {% if order['refill_status'] == 'allow' %}
                                <td>
                                    <div class="order-actions">
                                        {% if order['status'] == 'completed' and ( order['refill_order_status'] == 'success' or order['refill_order_status'] == 'pending') %}
                                            refilling
                                        {% else %}
                                            {% if order['status'] == 'completed' and order['refill_order_status'] == null  %}
                                                <form method="POST" action="{{ site['refill_url'] }}">
                                                 {{ site['csrf_field'] | raw }}
                                                <input type="hidden" name="order_table_id" value="{{ order['id'] }}">
                                                <input type="hidden" name="order_id" value="{{ order['order_id'] }}">
                                                <input type="hidden" name="refill_order_status" value="processing">
                                                <button type="submit" class="btn btn-xs btn-primary">Refill</button>
                                                </form>
                                            {% endif %}
                                            {% if order['cancel'] == 1 %}<a href="{{ page['url'] }}/{{order['id']}}/cancel" class="btn btn-xs btn-default">Cancel</a>{% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 d-flex justify-content-center">
                    {{ site['orders'].links|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
