<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 col-md-offset-2">
            <div class="card card-body">
                <form  method="POST" action="{{ site['url'] }}">
				    {{ site['csrf_field'] | raw }}
                    
					{% if site['validation_error'] > 0 %}
						{% for error in site['errors'] %}
                           <div class="alert alert-danger alert-dismissible fade show" role="alert">
							    <strong>Error!</strong> {{error}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    	{% endfor %}
					{% endif %}

                    {% if site['reset_status'] %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ site['reset_status'] }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
					{% endif %}

                    <div class="form-group">
                        <label for="username" class="control-label">Email address</label>
                        <input type="text" class="form-control" id="username" name="email">
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Send Password Reset Link</button>

                    <div class="py-3">
                        {% if site['sign_in_url'] %}
                            <a href="{{ site['sign_in_url'] }}">Signin</a>
                        {% endif %}

                        {% if site['sign_up'] %}
                            <a href="{{ site['sign_up_url'] }}" class="float-right">Signup</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
