<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                {% if site['signup_page'] %}
                    <div class="card-header">
                        <h3 class="col-sm-12">Register</h3>
                    </div>

                    <div class="card-body">
                        {% if site['validation_error'] > 0 %}
                            {% for error in site['errors'] %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{error}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="POST" action="{{ site['url'] }}">
                            {{ site['csrf_field'] | raw }}

                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right">Userame</label>

                                <div class="col-md-6">
                                    <input id="username" type="text" class="form-control" name="username" required autocomplete="username" autofocus>
                                </div>
                            </div>
                            
                            {% if site['name_fields'] %}
                            <div class="form-group row">
                                <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>

                                <div class="col-md-6">
                                    <input id="first_name" type="text" class="form-control" name="first_name" required autocomplete="first_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>

                                <div class="col-md-6">
                                    <input id="last_name" type="text" class="form-control" name="last_name" required autocomplete="last_name">
                                </div>
                            </div>
                            {% endif %}

                            {% if site['skype_field'] %}
                            <div class="form-group row">
                                <label for="skype_name" class="col-md-4 col-form-label text-md-right">Skype ID</label>

                                <div class="col-md-6">
                                    <input id="skype_name" type="text" class="form-control" name="skype_name" required autocomplete="skype_name">
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" required autocomplete="email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                                </div>
                            </div>

                            {% if site['terms_checkbox'] %}
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"  name="terms_accept" value="1" id="terms_accept" required> Accept our <a href="{{ site['terms_url'] }}" target="_blank">terms & condition.</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">Signup</button>
                                    <div class="py-3">
                                        {% if site['sign_in_url'] %}
                                            <a href="{{ site['sign_in_url'] }}">Signin</a>
                                        {% endif %}

                                        {% if site['reset_password']  and site['reset_password_url'] %}
                                            <a href="{{ site['reset_password_url'] }}" class="float-right">Forgot password?</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="card-body">
                        Signup has been disabled
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
